.hc-text-decor-n { text-decoration: none; }

.hc-content-shade {
     box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
}



.hc-container {
     //*The container width is based on 1360px x 768px screen size,
     //*width of 1156px is based on 85% of 1360px screen width
     width: 1156px; 
     margin-left: auto;
     margin-right: auto;
}


.hc-font-w-3 { font-weight: 300; }
.hc-font-w-4 { font-weight: 400; }
.hc-font-w-5 { font-weight: 500; }
.hc-font-w-6 { font-weight: 600; }
.hc-font-w-7 { font-weight: 700; }
.hc-font-w-8 { font-weight: 800; }

.hc-pos-abs { position: absolute; }
.hc-pos-rel { position: relative; }
.hc-pos-fixed { position: fixed; }

.hc-top-0 { top: 0; }
.hc-top-10 { top: 10%; }
.hc-top-20 { top: 20%; }
.hc-top-30 { top: 30%; }
.hc-top-40 { top: 40%; }
.hc-top-50 { top: 50%; }
.hc-top-60 { top: 60%; }
.hc-top-70 { top: 70%; }
.hc-top-80 { top: 80%; }
.hc-top-90 { top: 90%; }


.hc-right-0 { right: 0; }

.hc-bottom-0 { bottom: 0; }

.hc-left-0 { left: 0; }
.hc-left-10 { left: 10%; }
.hc-left-20 { left: 20%; }
.hc-left-30 { left: 30%; }
.hc-left-40 { left: 40%; }
.hc-left-50 { left: 50%; }
.hc-left-60 { left: 60%; }
.hc-left-70 { left: 70%; }
.hc-left-80 { left: 80%; }
.hc-left-90 { left: 90%; }

.hc-bottom-0 { bottom: 0; }
.hc-bottom-10 { bottom: 10%; }
.hc-bottom-20 { bottom: 20%; }
.hc-bottom-30 { bottom: 30%; }
.hc-bottom-40 { bottom: 40%; }
.hc-bottom-50 { bottom: 50%; }
.hc-bottom-60 { bottom: 60%; }
.hc-bottom-70 { bottom: 70%; }
.hc-bottom-80 { bottom: 80%; }
.hc-bottom-90 { bottom: 90%; }
.hc-bottom-10 { bottom: 10%; }

.hc-right-0 { right: 0%; }
.hc-right-10 { right: 10%; }
.hc-right-20 { right: 20%; }
.hc-right-30 { right: 30%; }
.hc-right-40 { right: 40%; }
.hc-right-50 { right: 50%; }
.hc-right-60 { right: 60%; }
.hc-right-70 { right: 70%; }
.hc-right-80 { right: 80%; }
.hc-right-90 { right: 90%; }
.hc-right-10 { right: 10%; }

.hc-d-block { display: block; }
.hc-d-flex { display: flex; }
.hc-d-none { display: none; }

.hc-flex-wrap { flex-wrap: wrap; }

.hc-justify-content-center { justify-content: center; }
.hc-justify-content-sb { justify-content: space-between; }
.hc-justify-content-sa { justify-content: space-around; }
.hc-justify-content-se { justify-content: space-evenly; }
.hc-align-items-center { align-items: center; }

.hc-align-self-start { align-self: flex-start; }

.hc-text-center { text-align: center; }
.hc-text-white { color: #fff; }
.hc-text-dark { color: rgb(44, 44, 44); }

.hc-m-lr-auto { margin-left: auto; margin-right: auto; }
.hc-m-auto { margin: auto; }
.hc-fit-x { width: fit-content; }
.hc-fit-y { height: fit-content; }

.hc-full-width { width: 100%; }
.hc-full-height { height: 100%; }

.hc-full-vw { width: 100vw; }
.hc-full-vh { height: 100vh;}


.hc-vw-10 { width: 10vw; }
.hc-vw-20 { width: 20vw; }
.hc-vw-30 { width: 30vw; }
.hc-vw-40 { width: 40vw; }
.hc-vw-50 { width: 50vw; }
.hc-vw-60 { width: 60vw; }
.hc-vw-70 { width: 70vw; }
.hc-vw-80 { width: 80vw; }
.hc-vw-90 { width: 90vw; }
.hc-vw-100 { width: 100vw; }

.hc-vh-10 { height: 10vh; }
.hc-vh-20 { height: 20vh; }
.hc-vh-30 { height: 30vh; }
.hc-vh-40 { height: 40vh; }
.hc-vh-50 { height: 50vh; }
.hc-vh-60 { height: 60vh; }
.hc-vh-70 { height: 70vh; }
.hc-vh-80 { height: 80vh; }
.hc-vh-90 { height: 90vh; }
.hc-vh-100 { height: 100vh; }

.hc-col-1 { width: 8.33%; }
.hc-col-2 { width: 16.66%; }
.hc-col-3 { width: 24.99%; }
.hc-col-4 { width: 33.32%; }
.hc-col-5 { width: 41.65%; }
.hc-col-6 { width: 49.98%; }
.hc-col-7 { width: 58.31%; }
.hc-col-8 { width: 66.64%; }
.hc-col-9 { width: 74.97%; }
.hc-col-10 { width: 83.27%; }
.hc-col-11 { width: 91.60%; }
.hc-col-12 { width: 99.93%; }

.hc-m-20 { margin: 20px; }

.hc-opac-1 { opacity: .1; }
.hc-opac-2 { opacity: .2; }
.hc-opac-3 { opacity: .3; }
.hc-opac-4 { opacity: .4; }
.hc-opac-5 { opacity: .5; }
.hc-opac-6 { opacity: .6; }
.hc-opac-7 { opacity: .7; }
.hc-opac-8 { opacity: .8; }
.hc-opac-9 { opacity: .9; }

.hc-bg-white { background-color: #fff; }
.hc-bg-trans { background: transparent; }
.hc-bg-dark { background-color: #696969; }
.hc-bg-light-dim { background-color: #f6f6f6; }

.hc-section-heading {
     margin-bottom: 100px;
     > h1 {
          font-size: 2.1rem;
          font-family: Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
     }
}

.hc-heading-title-underline {
     width: 50px;
     border: 2px solid;
     margin: 5px auto;
}



//*Guide note: hc-container class is responsive every @media query by 85% of the current window inner-width
@media(max-width: 1174px) {
     .hc-container {
          //*Example: width of 998px is 85% of 1174px and so on...
          width: 998px !important;
     }
}

@media(max-width: 1036px) {
     .hc-container {
          width: 880.6px !important;
     }
}

@media(max-width: 902px) {
     .hc-container {
          width: 766.7px !important;
     }
}

@media(max-width: 768px) {
     .hc-container {
          width: 652.8px !important;
     }
}

@media(max-width: 690px) {
     .hc-container {
          width: 586.5px !important;
     }
}

@media(max-width: 596px) {
     .hc-container {
          width: 506.6px !important;
     }
}

@media(max-width: 535px) {
     .hc-container {
          width: 454.75px !important;
     }
}

@media(max-width: 475px) {
     .hc-container {
          width: 403.75px !important;
     }
}

@media(max-width: 427px) {
     .hc-container {
          width: 92% !important;
     }
}

